fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic
langchain
langchain-community
langsmith
langchain-groq
langchain-google-genai
transformers
torch
Pillow
pytesseract
fuzzywuzzy
python-levenshtein
groq
google-generativeai
pdf2image
